/*  === === === === ===
*  CSS TABLE OF CONTENTS

*   I. Mobile Layout
*   
*  1.0 - Reset
*  2.0 - Variables
*  3.0 - Globals
*  4.0 - Grid
*  5.0 - Layout, Spacing, Border and Background Color
*  6.0 - Typography
*  
*  II. Media Query
*
*  1.0 - Variables
*  2.0 - Grid

=== === === === === */

/* ===============
    I. MOBILE LAYOUT
   =============== */

/* ===============
    1.0 RESET
   =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main,
section,
aside,
nav,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

/* ===============
    2.0 VARIABLES
   =============== */

:root {

    /* === 2.1 Color === */

    --primary-color: #143774;
    --supporting-color: #1792d2;
    --neutral-color-gray: #707070;
    --neutral-color-light-gray: #EBEBEB;
    --neutral-color-light: #f8f8f8;

    /* === 2.2 Font Size === */

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;

    /* === 2.3 Font Weight === */

    --font-bold: 700;
    --font-regular: 400;

    /* === 2.4 Alignment === */

    --align-text: center;

    /* === 2.5 Spacing === */

    --spacing-grow: 1rem;
}

/* ====================
    3.0 GLOBAL STYLES
   ================= */

body {
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    line-height: 1.6;
}

img {
    object-fit: cover;
    height: auto;
}

.max-width {
    margin: 0 auto;
    max-width: 1200px;
}

.bottom_border {
    border-bottom: solid 1px var(--neutral-color-gray);
}

/* ====================
    4.0 Grid
   ================= */

/* === 4. 1 Grid === */

.grid {
    display: grid;
}

/* === 4. 2 Column Gap === */

.column-gap-base {
    column-gap: 1rem;
}

.column-gap-md {
    column-gap: 2rem;
}

.column-gap-lg {
    column-gap: 3rem;
}

/* === 4.3 Column Gap === */

.row-gap-base {
    row-gap: 1rem;
}

.row-gap-md {
    row-gap: 2rem;
}

.row-gap-lg {
    row-gap: 3rem;
}

/* === 4.4 Header Grid === */

.header-wrapper {
    justify-content: center;
    align-items: baseline;
}

.navigation__menu {
    justify-content: center;
}

/* === 4.5. Main Section Grid === */

/* === 4.5.A Section Grid === */

.hero__image,
.card__image {
    grid-row-start: 1;
}

.caption,
.card__caption {
    grid-row-start: 2;
}

/* === 4.6 Aside === */

.post__title {
    grid-row-start: 2;
}

/* === 4.7 Footer === */

.site-footer {
    justify-items: center;
    align-items: center;
}


/* =================================================
    5.0 Layout, Spacing, Border and Background Color
    ============================================ */

/* === 5.1 Header === */

.site-header {
    background-color: #f8f8f8;
    padding: 4rem var(--spacing-grow);
}

.title-container {
    margin-bottom: 2rem;
}

/* === 5.2 Main === */

.main-aside-wrapper {
    padding: 3rem var(--spacing-grow) 0 var(--spacing-grow);
}

.about-site-main {
    margin-bottom: 3rem;
}


/* === 5.2.A Section === */


.home-hero-section {
    padding-bottom: 2rem;
}

/* === 5.2.B Caption === */

.caption__element {
    grid-template-columns: auto auto;
    justify-content: start;
    column-gap: 0.5rem;
}

.caption__date {
    border-right: solid 1px rgba(112, 112, 112, 0.2);
    padding-right: 0.5rem;
}

/* === 5.2.C Card === */

.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card_no-margin {
    margin-top: 0;
}

/* === 5.3. Aside === */


.sidebar_border {
    border: 1rem var(--neutral-color-light-gray) solid;
    padding: 2rem;
}

.sidebar__about,
.sidebar__recent-post {
    margin-bottom: 3rem;
}

/* === 5.3. Aside === */

.site-footer {
    padding: 4rem;
    background-color: var(--primary-color);
}

/* =====================
    6.0 Typography
   ==================== */

/* === 6.1 Header === */

.site-header {
    text-align: var(--align-text);
}

.title {
    font-family: 'Lora', serif;
    font-weight: var(--font-regular);
    color: var(--primary-color);
    font-size: var(--font-2xl);
}

.subtitle {
    color: var(--supporting-color);
    font-size: var(--font-xs);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-section__title {
    font-size: var(--font-lg);
    color: var(--supporting-color);
}

/* === 6.1.A Navigation === */

.navigation__menu {
    list-style: none;
}

.navigation__link {
    font-weight: var(--font-bold);
    font-size: var(--font-base);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--neutral-color-gray);
    letter-spacing: 2px;

    transition: color 0.2s;
}

.navigation__link:hover,
.navigation__link:focus {
    color: #1792D2;
}

.navigation__link_current-page:hover,
.navigation__link_current-page:focus {
    color: #707070;
}

.navigation__link_current-page {
    border-bottom: 2px solid #707070;
}

/* === 6.2 Main === */

/* === 6.2.A Section === */

.section__title,
.card__title {
    font-size: var(--font-xl);
}

/* === 6.2.B Paragraph === */

.paragraph__text {
    font-size: var(--font-base);
}

.paragraph__link {
    color: var(--supporting-color);
}

.paragraph__link:hover,
.paragraph__link:focus {
    color: var(--primary-color);
}

.read-more-link {
    font-size: var(--font-sm);
    text-decoration: none;
    letter-spacing: 2px;

    transition: color 0.2s;
}

.read-more-link:hover,
.read-more-link:focus {
    color: var(--primary-color);
}

/* === 6.2.C Caption === */

.caption__element {
    list-style-type: none;
    font-size: var(--font-xs);
}

/* === 6.3. Aside === */

.sidebar__title {
    font-size: var(--font-md);
    color: var(--primary-color);
    letter-spacing: 2px;
}

.sidebar__text {
    font-size: var(--font-sm);
}

.post__title {
    font-size: var(--font-md);
}

/* === 6.4 Footer === */

.site-footer {
    color: var(--neutral-color-light-gray);
}

/* ===============
    I. MEDIA QUERY
   =============== */

@media (min-width: 600px) {

    /* ===============
        1.0 VARIABLES
    =============== */

    :root {

        /* === 1.1 Spacing === */

        --spacing-grow: 2rem;

    }

    /* ===============
        2.0 Grid
    =============== */

    /* === 2.1.A Card === */

    .card {
        grid-template-columns: auto 1fr;
    }

    .card__image,
    .card__link,
    .card__text {
        grid-column-start: span 2;
    }

    .card__title {
        grid-column-start: 1;
    }

    .card__caption {
        grid-column-start: 2;
        justify-self: end;
    }

    .card__title,
    .card__caption {
        align-self: center;
    }
}


@media (min-width: 1050px) {

    /* ===============
        1.0 VARIABLES
    =============== */

    :root {

        /* === 1.1 Font Size === */

        --font-xs: 0.875rem;
        --font-sm: 1rem;
        --font-base: 1.125rem;
        --font-md: 1.25rem;
        --font-lg: 1.5rem;
        --font-xl: 1.75rem;
        --font-2xl: 2.25rem;

        /* === 1.2 Alignment === */

        --align-text: left;

        /* === 1.3 Spacing === */

        --spacing-grow: 3rem;
    }

    /* ===============
        2.0 Grid
    =============== */

    /* === 2.1 Global === */

    .main-aside-wrapper {
        grid-template-columns: 3fr 300px;
    }

    .site-main {
        grid-column-start: 1;
    }

    .site-sidebar {
        grid-column-start: 2;
    }

    /* === 2.2 Header Grid === */

    .header-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .navigation__menu {
        grid-template-columns: repeat(3, auto);
        justify-content: end;
    }

    /* === 2.3 Card === */

    .card {
        grid-template-columns: 200px 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .card__image {
        grid-column-start: 1;
        grid-row-start: span 4;
    }

    .card__link,
    .card__text,
    .card__title {
        grid-column-start: 2;
        justify-self: start;
    }

    .card__caption {
        grid-column-start: 1;
        grid-row-start: 5;
        justify-self: start;
    }

    .card__title {
        grid-row-start: 1;
        align-self: start;
    }

    .card__text {
        grid-row-start: 2;
    }

    .card__link {
        grid-row-start: 3;
    }

}

@media (min-width: 1200px) {

    .main-aside-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

}